@import '../../styles/variables';
@import '../../styles/mixins';

.actor{
  max-width: 235px;
  min-width: 235px;
  min-height: 306px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;

  &__link{
	position: absolute;
	inset: 0;
	z-index: 1;
  }
  img{
	width: 100%;
	display: block;
	object-fit: cover;
  }
  &__info{
	flex-grow: 1;
	width: 100%;
	padding: 20px 10px 10px 10px;
	background: $light-bg;
	color: $white;
	margin-top: -10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
  }
  .known{
	font-size: 14px;
	@include textOverflow;
  }

  @media (max-width: 768px) {
	max-width: 180px;
	min-width: 180px;
  }
}

