@import '../../../styles/variables';
@import '../../../styles/mixins';

.actor{
  width: 235px;
  min-height: 306px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &__link{
	position: absolute;
	inset: 0;
	z-index: 1;
  }
  img{
	width: 100%;
	display: block;
	object-fit: cover;
  }
  &__info{
	width: 100%;
	padding: 10px;
	background: $light-bg;
	color: $white;
	margin-top: -10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
  }
  .known{
	font-size: 14px;
	@include textOverflow;
  }
}

