.actors{
  width: 100%;
  min-height: 100vh;
  padding: 100px 30px 30px 30px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 30px;

  @media (max-width: 768px) {
    padding: 100px 10px 10px 10px;
    justify-content: space-around;
    gap: 20px;
  }
}