@import '../../../styles/variables';

.sidebar{
  min-width: 350px;
  max-width: 350px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 30px;
  border-right: 1px solid $brown-border;
  span,
  img{
    width: 100%;
  }

  img{
    border-radius: 10px;
  }

  &__title{
    color: $white;
  }

  @media (max-width: 768px) {
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid $brown-border;
    overflow-y: unset;
    height: unset;
  }
}