@mixin glassBorder($side: left, $height: 100%) {
  position: relative;
  &::before {
	content: '';
	position: absolute;
	top: 50%;
	height: $height;
	width: 1px;
	background: linear-gradient(to bottom, transparent, rgba($white, 0.2), rgba($white, 1), rgba($white, 1), rgba($white, 1), rgba($white, 0.2), transparent);
  	transform: translateY(-50%);
  }
  @if $side == left {
	padding-left: 20px;
	&::before {left: 0;}
  } @else if $side == right {
	padding-right: 20px;
	&::before {right: 0;}
  }

}

@mixin textOverflow($line-clamp: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}