$app-bg: #21202a;


$white: #fff;
$grey: #c3c3c2;
$accent: #4347c1;
$brown: #5e565a;
$orange: #ea5823;
$dark-text: #665b93;

$brown-border: rgba($brown, 0.3);


$fst-transition: 0.3s;
$md-transition: 0.5s;
$sl-transition: 0.7s;