@import '../../../styles/variables';

.sidebar{
  max-width: 380px;
  height: calc(100vh - 70px);;
  padding: 30px;
  overflow-y: scroll;
  border-right: 1px solid $brown-border;

  @media (max-width: 768px) {
    display: none;
  }
}