@import '../../../styles/variables';

.sidebar{
  max-width: 390px;
  min-width: 350px;
  height: calc(100vh - 70px);;
  padding: 30px;
  overflow-y: scroll;
  border-right: 1px solid $brown-border;
}