.actorInfo{
  padding-top: 70px;
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  align-items: flex-start;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}