@import '../../styles/variables';

.image{
  height: 300px;
}

.tab{
  &__wrapper{
	padding: 30px 0px;
	margin: 30px 0px;
	border-bottom: 1px solid $brown-border;
	border-top: 1px solid $brown-border;
  }

  &__list{
	display: flex;
	gap: 10px;
  }

  &__tab{
	font-weight: 700;
	cursor: pointer;
	padding: 10px;
	background: $light-bg;
	color: $white;
  }
  &__selected{
	color: $dark-text;
	background: none;
  }
}