@import '../../../styles/variables';

.collection{
  width: 100%;
  min-height: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 10px;
  color: $white;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba($light-bg, 1), rgba($light-bg, .7), rgba($light-bg, 0.4));
  }
}

.title{
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  width: 450px;
  margin-bottom: 30px;
  line-height: 35px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.link{
  position: relative;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: lighten($light-bg, 10%);
  color: $white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  transition: $fst-transition;

  &:hover{
    background: $light-bg;
  }
}