.card{
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  &__big{
	max-width: 350px;
	min-width: 320px;
  }
  &__small{
	min-width: 180px;
	display: flex;
	flex-direction: column;
	img{
	  height: 270px;
	}
  }
  img{
	display: block;
	width: 100%;
	object-fit: cover;
  }
}