@import '../../styles/variables';

.box{
  width: 100%;
}

.films{
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
  display: flex;
  gap: 30px;
}

.vertical{
  .films{
    overflow-y: inherit;
    overflow-x: inherit;
    flex-wrap: wrap;
  }
  .top{
    &__title{
      font-size: 18px;
    }
    &__link{
      font-size: 14px;
    }
  }
}

.top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &__title{
    color: $white;
  }
  &__link{
    padding: 10px;
    color: $dark-text;
    text-decoration: none;
    transition: $fst-transition;
    &:hover{
      color: $orange;
      svg{fill: $orange;}
    }
    svg{
      display: inline;
      fill: $dark-text;
      width: 10px;
      height: 10px;
      transition: $fst-transition;
    }
  }
}