@import '../../styles/variables';

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-bg;
  z-index: 9999;
  opacity: 0;
  transition: $fst-transition;
  pointer-events: none;
  &__show{
    opacity: 1;
  }
}