@import '../../../styles/variables';
@import '../../../styles/mixins';

.search{

  @media (max-width: 768px) {
    display: none;
  }

  margin-left: auto;

  &__input,
  &__btn{
    border-radius: 4px;
  }

  &__input{
    background: transparent;
    border: 1px solid $brown-border;
    padding: 8px 25px 8px 10px;
    color: $white;
    outline: none;
    transition: $fst-transition;
    &:focus{
      border-color: $white;
    }
  }

  &__btn{
    cursor: pointer;
    margin-left: 20px;
    padding: 8px 10px;
    height: 100%;
    background: $orange;
    border: none;
    color: $white;
  }
}